DelegatesAssignments/.vs/DelegatesAssignments/FileContentIndex/2ba6fa9c-5e4f-426c-973a-16ac38b0acff.vsidx
DelegatesAssignments/.vs/DelegatesAssignments/FileContentIndex/3d470fb7-f159-434e-b101-2aecc63db02f.vsidx
DelegatesAssignments/.vs/DelegatesAssignments/FileContentIndex/c5ff17f1-5851-4101-a4bc-09891dd890f7.vsidx
DelegatesAssignments/.vs/DelegatesAssignments/FileContentIndex/cd823eb3-1689-4936-a9c0-41a5d0915c96.vsidx
DelegatesAssignments/.vs/DelegatesAssignments/FileContentIndex/d803db9e-4fdc-499d-8dc1-cc8358e912c9.vsidx
