<div>
	<h1 class="text-center">Address Details Form </h1>
	<form>
		<div>
			Enter Address ID 
			<input  type="number" name="aid" class="form-control"/>
		</div>

		<div>
			Select City 
			<select name="city" class="form-control">
				<option  value=""></option>
				<option value="kop">Kolhapur</option>
				<option value="pune"> Pune</option>
				<option value="mum">Mumbai</option>
			</select>
		</div>

		<div>
			Select State
			<select name="state">
				<option value=""></option>
				<option value="MH">Maharashtra</option>
				<option value="KA">Karantaka</option>
				<option value="goa">GOA</option>
			</select>

		</div>
		<div>
			Enter Pincode
			<input type="number" name="pin" class="form-control"/>
		</div>
		<br />
		<div>
			<input type="submit" value="Submit" class="btn btn-danger"/>
		</div>
	</form>
</div>