

@model Employee


	<form class="form-group" asp-controller="Emp" asp-action="AddEmp" method="post">
		<div>
			Enter Eno 
			<input type="number" asp-for="eno" class="form-control"/>
			<span asp-validation-for="eno" class="text-danger"></span>
		</div>

		<div>
			Enter EName 
			<input type="text" asp-for="ename" class="form-control" />
			<span asp-validation-for="ename" class="text-danger"></span>
		</div>

		<div>
			Enter Job Role
			<input type="text" asp-for="job"  class="form-control" />
			<span asp-validation-for="job" class="text-danger"></span>

		</div>

		<div>
			Enter Salary 
			<input  type="number" asp-for="sal" class="form-control"/>
			<span asp-validation-for="sal" class="text-danger"></span>
		</div>
			 <br />
		<div>
			<input  type="submit" value="submit" class="btn btn-success"/>

			<input type="reset" value="clear" class="btn btn-danger" />
		</div>
	</form>
